@tailwind base;
@tailwind components;
@tailwind utilities;


.menu li > *:not(ul, .menu-title, details, .btn):active, .menu li > *:not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active  {
    color: #4e9cfb;
    background: none;
    text-decoration: underline;
    padding-right: 0;
}

/* @media (min-width: 768px) { */
